@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OldStyle';
  src: url('/fonts/EBGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OldStyle-Bold';
  src: url('/fonts/EBGaramond-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-optical-sizing: auto;
  font-family: "OldStyle", serif;
}

@layer base {
  h1 {
    @apply text-[16px] sm:text-[24px] md:text-[36px] xl:text-[48px];
  }

  h2 {
    @apply text-[14px] sm:text-[20px] md:text-[30px] xl:text-[40px];
  }

  h3 {
    @apply text-[12px] sm:text-[18px] md:text-[26px] xl:text-[36px];
  }

  h4 {
    @apply text-[10px] sm:text-[16px] md:text-[24px] xl:text-[32px];
  }

  h5 {
    @apply text-[10px] sm:text-[14px] md:text-[20px] xl:text-[28px];
  }

  h6 {
    @apply text-[10px] sm:text-[12px] md:text-[18px] xl:text-[24px];
  }

  p {
    @apply text-p
    /* @apply text-[14px] sm:text-[16px] md:text-[18px] xl:text-[20px]; */
  }

  span {
    @apply text-[14px] sm:text-[16px] md:text-[18px] xl:text-[20px];
  }

  strong {
    @apply font-bold;
  }

  em {
    @apply italic;
  }
  :root {
    --radius: 0.5rem;
  }
}

.icon {
  @apply text-[35px] hover:cursor-pointer;
}

.tooltip {
  @apply text-[10px];
}

.dock {
  bottom: 20px;
  left: 0;
  position: fixed;
  right: 0;
  margin: inherit;
  color: white;
  z-index: 1;
}

.trailsText {
  position: relative;
  width: 100%;
  line-height: 80px;
  color: black;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.text-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.gradient-text {
  @apply pointer-events-none whitespace-pre-wrap bg-gradient-to-b from-black to-gray-300/80 bg-clip-text text-center font-semibold leading-none text-transparent dark:from-white dark:to-slate-900/10;
}

.scroller {
  scrollbar-width: none !important;
}